body {
	font-family: 'Orbitron', sans-serif;
	background: #97ff8e;
	font-size: 18px;
}


/* container is the whole calculator, center it on page (dimensions of calculator dont change) */
.container {
	width: 350px;
	height: 447.975px;
	margin-top: 17vh;
	border: 10px solid black;
	border-radius: 5px;
	background: #302e2e;
	box-shadow: 0px 0px 10px 10px black;
}

#title {
	color: white;
}



button {
	width: 100%;
	font-weight: bold;
}
.main-buttons {
	/*background: green;*/
}
/*override operator button color*/
.operator, #ac, #ce {
	background: #918d83;
}
#equal {
	background: #34eb2a;
	color: white;
}
#flip-screen, #random-word {
	background: #567bf5;
	height: 55px;
}



#screen {
	border: 1px solid black;
	border-radius: 3px;
	transition: transform 0.5s ease-in;
	background: #fffedd;
	font-weight: bold;
	height: 81.2px;
	align-items: center;
}
#sub-display {
	align-self: bottom;
}

/*class to flip screen, toggle in js for Flip Screen button*/
.flip-screen {
	transform: rotate(180deg);
}





#footer {
	position: absolute;
	bottom: 0;
}